.inputlabel {
    margin: 0;
    padding: 0;
}

#expressiontype {
    margin: 0;
    padding: 0;
}

#sendanswer {
    margin: 0;
    padding: 0;
}

#response {
    display: block;
    min-height: 20px;
}

#mathwindow {
    background-color: rgb(27, 27, 27);
    border: solid 2px rgb(222, 153, 0);
    border-radius: 10px;
    padding: 5px;
    max-width: 500px;
    height: auto;
    align-self: center;
}

.btn {
    margin-block: 3px;
}

