@font-face {
    font-family: textFont;
    src: url(../resources/fonts/Merriweather-Bold.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: #000000;

    font-family: textFont;
    color: rgb(222, 153, 0);
}

.text {
    color: rgb(222, 153, 0); 
}

#landingpagecanvas {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    top:0;
    position: absolute;
    z-index: -1;
}
  
