#pageheader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    background-color: aqua;
}

#homebanner > a{
    text-decoration: none;
}

#pagenavigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
}


.pagenavigation-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px 10px 20px;
}

.pagenavigation-item > a{
    text-decoration: none;
}