#pagecontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 0;
}

.divided > h2 {
    border: solid 4px rgb(117, 117, 117);
    padding: 10px 0 10px 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
    text-align: center;
}

.pagesection {
    display: flex;
    flex-direction: column;
    justify-content: top;
    min-height: 80vh;
    padding-top: 10vh;
}

.pagesection > h2 {
    align-self: center;
}

.pagesectioncontent {
    width: 80%;
}