#pageheader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 10%;
    background-color:#521B00;
    border-bottom: #9C5735;
    border-style: solid;
    border-width: 0 0 1px 0;
}

#homebanner {
    margin: auto 0 auto 0;
}

#homebanner > a{
    text-decoration: none;
    font-weight: lighter;
    color: rgb(235, 235, 235);
}

#pagenavigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
}

.pagenavigation-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 15px 10px 15px;
}

.pagenavigation-item > a{
    text-decoration: none;
    color: rgb(235, 235, 235);
}