#headerbackground {
    background-color: #111111;
    border: solid 1px black;
    border-radius: 15px;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

#pageheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* Height of banner */
    height: 7vh;
}

#homebanner {
    margin: auto 0 auto 0;
    /* Text distance from left */
    padding-left: 70px;
}

#homebanner > a{
    text-decoration: none;
    font-weight: lighter;
    color: #B3001F;
}

#pagenavigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    /* Text distance from right */
    padding-right: 70px;
}

.pagenavigation-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 15px 10px 15px;
}

.pagenavigation-item > :hover {
    scale: 1.08;
}

.pagenavigation-item > a{
    text-decoration: none;
    color: rgb(209, 209, 209);
}